# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Temporary files
*.tmp
*.swp
*.swo

# Build output
dist/
build/
